<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BlackSpotDetection</display-name>
  <welcome-file-list>
    <welcome-file>admin1.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.rcpit.blackspot.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPolice</display-name>
    <servlet-name>AddPolice</servlet-name>
    <servlet-class>com.rcpit.blackspot.AddPolice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPolice</servlet-name>
    <url-pattern>/AddPolice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>policelogin</display-name>
    <servlet-name>policelogin</servlet-name>
    <servlet-class>com.rcpit.blackspot.policelogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>policelogin</servlet-name>
    <url-pattern>/policelogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addStation</display-name>
    <servlet-name>addStation</servlet-name>
    <servlet-class>com.rcpit.blackspot.addStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStation</servlet-name>
    <url-pattern>/addStation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>blackSpot</display-name>
    <servlet-name>blackSpot</servlet-name>
    <servlet-class>com.rcpit.blackspot.blackSpot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>blackSpot</servlet-name>
    <url-pattern>/blackSpot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>URegister</display-name>
    <servlet-name>URegister</servlet-name>
    <servlet-class>com.rcpit.blackspot.URegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URegister</servlet-name>
    <url-pattern>/URegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.rcpit.blackspot.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
</web-app>